* {
  margin: 0;
  padding: 0;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

.container {
  margin: 0 auto;
  width: 1140px;
}

.img_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1000px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.img_block .img_small {
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.img_block .img_small:hover {
  opacity: 0.8;
}

.img_block .img_small:active {
  opacity: 0.9;
}

.big_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.big_img .button1_nav,
.big_img .button2_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  display: flex;
  position: absolute;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.big_img .button_left,
.big_img .button_right {
  width: 40px;
  height: 40px;
  border-radius: 15px;
  background-color: darkseagreen;
  color: turquoise;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0.8;
}

.big_img .button1_nav {
  margin-right: 900px;
}

.big_img .button2_nav {
  margin-left: 900px;
}

.big_img .button1_nav:hover,
.big_img .button2_nav:hover {
  cursor: pointer;
  opacity: 0.5;
}

.big_img .button1_nav:active,
.big_img .button2_nav:active {
  cursor: pointer;
  opacity: 0.9;
}

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px;
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.div_item {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 1px solid green;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 100px;
  height: 30px;
  border-radius: 5px;
  margin: 20px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.button:hover {
  opacity: 0.5;
}

.button:active {
  opacity: 0.9;
}

.selected_products {
  width: 900px;
  font-size: 20px;
  line-height: 20px;
  color: mediumblue;
  border-bottom: 1px solid green;
  margin-left: 50px;
}

.sum {
  font-weight: 600;
  font-size: 18px;
  color: red;
  margin-left: 50px;
}

td {
  text-align: left;
}
/*# sourceMappingURL=style.css.map */